/* /Shared/MainLayout.razor.rz.scp.css */
/*.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-color: #7014E8;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
*/
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-custom[b-aawmdj9mq7] {
    background-color: #007ACC;
    font-family: 'Russo One', cursive;
    color: #D5D5D5;
}

    .navbar-custom a[b-aawmdj9mq7] {
        color: #D5D5D5;
    }

    .navbar-custom .nav-item[b-aawmdj9mq7] {
        font-size: 50px;
    }

        .navbar-custom .nav-item-text[b-aawmdj9mq7]  a {
            color: #D5D5D5;
            position: relative;
        }

        .navbar-custom .nav-item-text[b-aawmdj9mq7]  a::before {
            content: "";
            position: absolute;
            width: 92%;
            height: 5px;
            bottom: 18px;
            margin-left: 8px;
            left: 0;
            background-color: #D5D5D5;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }

        .navbar-custom .nav-item-text-blog[b-aawmdj9mq7]  a::before {
            width: 65%;
        }

        .navbar-custom .nav-item-text[b-aawmdj9mq7]  a:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }

        .navbar-custom  .nav-item-text[b-aawmdj9mq7]  a.active::before {
            visibility: visible;
            transform: scaleX(1);
        }

.nav-link-icon[b-aawmdj9mq7] {
    font-size: 30px;
}

    .nav-link-icon :hover[b-aawmdj9mq7] {
        color: #C8C8C8;
    }

.main-logo[b-aawmdj9mq7] {
    height: 80px;
    filter: invert(99%) sepia(0%) saturate(1%) hue-rotate(171deg) brightness(91%) contrast(84%);
    margin: 0 43px 0 55px;
}


