.navbar-custom {
    background-color: #007ACC;
    font-family: 'Russo One', cursive;
    color: #D5D5D5;
}

    .navbar-custom a {
        color: #D5D5D5;
    }

    .navbar-custom .nav-item {
        font-size: 50px;
    }

        .navbar-custom .nav-item-text ::deep a {
            color: #D5D5D5;
            position: relative;
        }

        .navbar-custom .nav-item-text ::deep a::before {
            content: "";
            position: absolute;
            width: 92%;
            height: 5px;
            bottom: 18px;
            margin-left: 8px;
            left: 0;
            background-color: #D5D5D5;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }

        .navbar-custom .nav-item-text-blog ::deep a::before {
            width: 65%;
        }

        .navbar-custom .nav-item-text ::deep a:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }

        .navbar-custom .nav-item-text ::deep a.active::before {
            visibility: visible;
            transform: scaleX(1);
        }

.nav-link-icon {
    font-size: 30px;
}

    .nav-link-icon :hover {
        color: #C8C8C8;
    }

.main-logo {
    height: 80px;
    filter: invert(99%) sepia(0%) saturate(1%) hue-rotate(171deg) brightness(91%) contrast(84%);
    margin: 0 43px 0 55px;
}

#collapsed-navbar {
    display: none;
}

@media only screen and (max-width: 768px) {
    #collapsed-navbar {
        display: block;
    }

    #full-navbar {
        display:none;
    }

    .navbar-toggler {
        margin-top: 5px;
        border-color: #D5D5D5;
    }

        .navbar-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(213, 213, 213, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }


    .main-logo {
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        margin: auto;
    }

    .navbar-custom .nav-item {
        font-size: 30px;
    }

    .navbar-custom .nav-item-text ::deep a::before {
        width: 90px;
        height: 4px;
        bottom: 12px;
        margin-left: 0px;
    }

    .navbar-custom .nav-item-text-blog ::deep a::before {
        width: 50px;
    }

    .nav-link-icon {
        font-size: 20px;
    }
}

