<nav class="navbar navbar-expand-md navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".all-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Social Links -->
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 all-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-icon mx-1" href="https://twitter.com/Dragonriffi92" target="_blank"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon mx-1" href="https://www.linkedin.com/in/francesco-rifugio/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </li>
        </ul>
    </div>

    <!-- Main navigation -->
    <div class="navbar-collapse collapse w-100 mx-auto order-0 all-collapse">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item nav-item-text nav-item-text-blog">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Blog</NavLink>
            </li>
            <li>
                <object class="main-logo" type="image/svg+xml" data="assets/FRLogo.svg" />
            </li>
            <li class="nav-item nav-item-text">
                <NavLink class="nav-link" href="about">About</NavLink>
            </li>
        </ul>
    </div>

    <!-- Theme change / Search / Other -->
    <div class="navbar-collapse collapse w-100 order-3 all-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-icon mx-2" href="https://github.com/frifugio/" target="_blank"><i class="bi bi-github"></i></a>
            </li>
        </ul>
    </div>
</nav>

