@page "/about"

<style>
    h1, h2 {
        font-family: 'Russo One', cursive
    }

    hr {
        background-color: var(--navbar-background-color);
        height: 0.2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .contact-icon {
        font-size: 7vw;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-fluid rounded mb-3" src="assets/profile.jpg" />
        </div>
        <div class="col-sm-9">
            <h1>Francesco Rifugio</h1>
            <p>
                Nato con la passione per l'informatica, ho scoperto il mondo e il fascino della programmazione grazie al fu Windows Phone, a cui ho lasciato un pezzo di cuore.<br />
                Su questa piattaforma ho ricevuto infatti le prime soddisfazioni: in primis con le applicazioni sviluppate, arrivate in posizioni importanti nello Store italiano, ma soprattuto con la partecipazione al programma Microsoft Student Partner che mi ha permesso di avvicinarmi ad un'altra mia grande passione: il public speaking. Ho iniziato infatti ad organizzare e parlare ad eventi in Università, dove condividevo le conoscenze acquisite da auto-didatta nello sviluppo mobile.
                <br /><br />
                In quello stesso periodo è arrivata la mia prima esperienza lavorativa in Microsoft Italia dove ho coperto diversi ruoli. Prima, come Technical Evangelist, ho avuto la possibilità di parlare ad importati eventi tecnici italiani. Poi come Multimedia Manager dove ho potuto riprendere tutta la parte di sviluppo web. Infine come Program Manager, dove seguivo da vicino progetti innovativi dei partner.
                <br /><br />
                Dopo Microsoft ho deciso di focalizzarmi ulteriormente nello sviluppo software in Italia e mi sono spostato in Brain-Sys. Qui ho seguito progetti sia web che desktop, tenendomi sempre aggiornato sulle ultime tecnologie del settore. Inoltre ho continuato a coltivare la mia passione del public speaking, questa volta erogando corsi tecnici propedeutici all'ottenimento di certificazioni Microsoft.
                <br /><br />
                L'informatica però non è la mia unica passione!<br />
                Se non sono davanti al PC infatti mi potrete trovare in una cucina, a cucinare qualcosa di prelibato.<br />
                Altrimenti, se fa troppo caldo per stare ai fornelli, nulla mi toglie dalla mia Xbox Series X (che ovviamente non è l'unica console in casa). E non mi chiedete a cosa gioco! Perchè faccio prima a dirvi a cosa *non* gioco, ma se proprio dovessi scegliere, nulla batte Assassin's Creed.
                </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <h2>Certificazioni</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-3 mx-auto">
            <figure class="figure">
                <a href="https://www.credly.com/badges/dd93a511-40b2-4662-a5c7-57614108d8d8/public_url" target="_blank">
                    <img src="assets/about/microsoft-certified-azure-ai-fundamentals.png" class="figure-img img-fluid" alt="Microsoft Certified: Azure AI Fundamentals - Badge">
                </a>
                <figcaption class="figure-caption text-center">Microsoft Certified: Azure AI Fundamentals</figcaption>
            </figure>
        </div>
        <div class="col-3 mx-auto">
            <figure class="figure">
                <a href="https://www.credly.com/badges/1a7c94ad-e69c-4fd8-abaa-a01a0f3c4fef/public_url" target="_blank">
                    <img src="assets/about/microsoft-certified-azure-developer-associate.1.png" class="figure-img img-fluid" alt="Microsoft Certified: Azure Developer Associate - Badge">
                </a>
                <figcaption class="figure-caption text-center">Microsoft Certified: Azure Developer Associate</figcaption>
            </figure>
        </div>
        <div class="col-3 mx-auto">
            <figure class="figure">
                <a href="https://www.credly.com/badges/08bd90b1-004f-4ee0-a0a5-ccd76b25c781/public_url" target="_blank">
                    <img src="assets/about/microsoft-certified-azure-ai-engineer-associate.png" class="figure-img img-fluid" alt="Microsoft Certified: Azure AI Engineer Associate - Badge">
                </a>
                <figcaption class="figure-caption text-center">Microsoft Certified: Azure AI Engineer Associate</figcaption>
            </figure>
        </div>
        <div class="col-3 mx-auto">
            <figure class="figure">
                <a href="https://www.credly.com/badges/f28b8390-5433-4a21-98e8-04dfbdef02ea/public_url" target="_blank">
                    <img src="assets/about/microsoft-certified-power-platform-developer-associate.png" class="figure-img img-fluid" alt="Microsoft Certified: Power Platform Developer Associate - Badge">
                </a>
                <figcaption class="figure-caption text-center">Microsoft Certified: Power Platform Developer Associate</figcaption>
            </figure>
        </div>
        <div class="col-3 mx-auto">
            <figure class="figure">
                <a href="https://www.credly.com/badges/9a6d95f1-ca99-4cb5-ad86-41c231aff1d2/public_url" target="_blank">
                    <img src="assets/about/aws-certified-developer-associate.png" class="figure-img img-fluid" alt="AWS Certified Developer – Associate - Badge">
                </a>
                <figcaption class="figure-caption text-center">AWS Certified Developer – Associate</figcaption>
            </figure>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <h2>Contatti</h2>
        </div>
    </div>
    <div class="row">
        <a class="mx-auto contact-icon" href="mailto://f.rifugio@outlook.com" target="_blank"><i class="bi bi-envelope-fill"></i></a>
        <a class="mx-auto contact-icon" href="https://twitter.com/Dragonriffi92" target="_blank"><i class="bi bi-twitter-x"></i></a>
        <a class="mx-auto contact-icon" href="https://www.linkedin.com/in/francesco-rifugio/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a class="mx-auto contact-icon" href="https://github.com/frifugio/" target="_blank"><i class="bi bi-github"></i></a>
    </div>
</div>