@page "/"
@using Services
@inject IPostService PostService

<div class="container card-columns">
    @foreach (var post in PostList)
    {
        <PostCard Filename="@post" />
    }
</div>

@code {

    public List<string> PostList { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var postList = await PostService.GetAllPostNamesAsync();
        PostList = new List<string>(postList);
    }
}