@page "/post/{filename}"
@using Models
@using Services
@inject IPostService PostService

<style>
    #post-content {
        background-color: white;
        margin-top: 2rem;
        padding: 1rem;
    }

    #post-content h1 {
        margin-bottom: 2rem;
    }

    #head-image {
        object-fit: cover;
        height: 15rem;
        padding: 0;
    }
</style>

<div class="container">
    <img src="@Post.HeadImagePath" class="img-fluid rounded mx-auto d-block col-md-12" id="head-image" alt="@(Post.Title)-image" />
</div>

<div class="container rounded" id="post-content">
    @HtmlContent

    <blockquote class="blockquote text-right mt-5">
        <footer class="blockquote-footer">@Post.Author, <cite title="Source Title">@Post.PublishDate.ToShortDateString()</cite></footer>
    </blockquote>
</div>

@code {
    [Parameter]
    public string Filename { get; set; }

    public Post Post { get; set; } = new Post();
    public MarkupString HtmlContent { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Post = await PostService.GetPostAsync(Filename);
        HtmlContent = new MarkupString(Post.Body);
    }
}
