@page "/post/{filename}"
@using Models
@using Services
@inject IPostService PostService

<style>
    .container {
        background-color: white;
    }
</style>

<div class="container">
    @HtmlContent
</div>

@code {
    [Parameter]
    public string Filename { get; set; }

    public Post Post { get; set; } = new Post();
    public MarkupString HtmlContent { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Post = await PostService.GetPostAsync(Filename);
        HtmlContent = new MarkupString(Post.Body);
    }
}
